<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd"
    default-lazy-init="false">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
    <jaxrs:server id="emanager-api" address="/">
        <jaxrs:serviceBeans>
            <ref bean="employeeRestService" />
        </jaxrs:serviceBeans>
        <jaxrs:extensionMappings>
            <entry key="xml" value="application/xml" />
        </jaxrs:extensionMappings>
        <jaxrs:providers>
            <ref bean="customExceptionMapper" />
            <ref bean="jacksonJsonProvider" />
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="employeeRestService"
        class="com.ntrphanikumar.emanager.registration.rest.services.EmployeeRestService">
        <constructor-arg ref="employeeService" />
    </bean>

    <bean id="employeeService"
        class="com.ntrphanikumar.emanager.registration.services.EmployeeService">
        <constructor-arg>
            <bean
                class="com.ntrphanikumar.emanager.registration.services.InMemoryTable" >
                <constructor-arg >
                    <bean class="java.util.LinkedHashMap"/>
                </constructor-arg>
                <constructor-arg>
                    <bean class="java.util.concurrent.atomic.AtomicInteger"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">
        <property name="mapper" ref="jacksonMapper" />
    </bean>

    <bean id="jacksonMapper" class="org.codehaus.jackson.map.ObjectMapper" />

    <bean id="customExceptionMapper"
        class="com.ntrphanikumar.emanager.registration.rest.exceptionmapper.CustomExceptionMapper">
        <constructor-arg ref="errorResponseBuilder" />
        <constructor-arg ref="webApplicationExceptionMapper" />
        <constructor-arg ref="exceptionToCodeMapper" />
    </bean>

    <bean id="webApplicationExceptionMapper"
        class="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper" />

    <bean id="errorResponseBuilder"
        class="com.ntrphanikumar.emanager.registration.rest.exceptions.responsebuilder.ErrorResponseBuilder">
        <constructor-arg ref="marshaller"/>
    </bean>
    
    <bean id="jaxbContext" class="javax.xml.bind.JAXBContext" factory-method="newInstance">
        <constructor-arg>
            <list>
                <value type="java.lang.Class">com.ntrphanikumar.emanager.dtos.ErrorDTO</value>
                <value type="java.lang.Class">com.ntrphanikumar.emanager.dtos.EmployeeCollection</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="marshaller" class="com.sun.xml.bind.v2.runtime.MarshallerImpl">
        <constructor-arg ref="jaxbContext" />
        <constructor-arg>
            <bean class="com.sun.xml.bind.v2.runtime.AssociationMap" />
        </constructor-arg>
    </bean>
    

    <bean id="exceptionToCodeMapper"
        class="com.ntrphanikumar.emanager.registration.rest.exceptionmapper.ExceptionToCodeMapper" />

</beans>